.about__main {
  background-color: rgb(29, 27, 27);
  // height: 20rem;
  font-size: 2rem;
  // font-family: Style Script, "Courier New", Courier, monospace;
  text-align: center;
  // width: 100%;
  margin: 10rem 2rem;
  color: white;
  padding: 1rem;
}
